@font-face
{
font-family: mygame;
src: url('mygame.ttf');
}
/* @font-face
{
font-family: tron;
src: url('Tr2n.ttf');
} */
#title{
  font-family:mygame;
  font-size:30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: cyan;
  text-shadow: 10px 10px 10px whitesmoke;
 }
 text-shadow: 10px 10px 10px #000000;

 text - shadow: [horizontal shadow] [vertical shadow] [blur distance] [shadow color];

 #statusUpdates{
  -webkit-transition:color 100ms ease-in;
 }

 body{
  border:2px solid;
  border-radius:100px;
  text-align:center;
  background: url(../images/purplebackground.png);
}
#gameCanvas{
  border:cyan 3px solid;
}
