/* @font-face
{
font-family: ffe;
src: url('mygame.ttf');
} */
@font-face
{
font-family: tron;
src: url('Tr2n.ttf');
}
#title{
  font-family:tron;
  font-size:30px;
  text-shadow: 10px 10px 10px #000000;
  }
